{% extends "layout.html" %}
{% block content %}
<div id="paste-view">
    <div id="unlock-form" class="is-hidden">
        <div class="notification is-warning">
            <h3 class="title is-4">This paste is encrypted.</h3>
            <p>Please enter the password to decrypt it locally in your browser.</p>
        </div>
        <div class="field">
            <div class="control">
                <input type="password" id="unlock-password" class="input" placeholder="Password">
            </div>
        </div>
        <div class="field">
            <div class="control">
                <button id="unlock-btn" class="button is-primary">Unlock</button>
            </div>
        </div>
        <p id="error-message" class="help is-danger is-hidden"></p>
    </div>

    <div id="paste-display" class="is-hidden">
        <div class="has-text-right">
            <button id="copy-decrypted-btn" class="button is-info mb-2">Copy</button>
            <button id="delete-btn" class="button is-danger mb-2 is-hidden">Delete</button>
        </div>
        <div id="paste-content-area" class="box content">
            <div id="paste-content"></div>
        </div>
    </div>

    <div id="loading-state">
        <progress class="progress is-large is-info" max="100">60%</progress>
        <p class="has-text-centered">Fetching encrypted data...</p>
    </div>
</div>
{% endblock %}